.simpleControl {
    -fx-padding: 5;
    -fx-background-color: rgb(12, 12, 12);
    -base-color: rgb(2, 138, 204);
}

.simpleControl .backgroundCircle {
    -fx-fill: -base-color;
}

.simpleControl .display {
    -fx-font-family: 'DS-Digital';
    -fx-font-size: 32;
    -fx-fill: derive(-base-color, 95%);
}

